:root {
    --color-1: #BEE3DB;
    --color-2: #89B0AE;
    --color-3: #555B6E;
    --color-4: #FFD6BA;
    --color-5: #FAF9F9;
    --dropshadow: #00000041;
}

:focus-visible {
  outline: 4px dashed black;
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

html {
    font-size: 16px;
}

h1::selection, h2::selection, a::selection {
    color: var(--color-5);
    background-color: var(--color-3);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-3);
}

h2 {
    font-size: 1.5rem;
    color: var(--color-3);
}

a {
    font-size: 1rem;
    color: var(--color-3);
}

#root {
    background-color: var(--color-5);
    overflow: hidden;
}

.top-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100);
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
}

.flex-center {
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-5)!important;
    margin: 1rem;
}

.card * {
    margin: 1rem;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-position: 20% 10%;
}

.links-container * {
    padding: 1rem;
}

.link {
    padding: 10px;
    background-color: var(--color-4);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.link:hover {
    background-color: var(--color-3);
    cursor: pointer;
    color: white;
}

.link:hover a, .link a:hover {
    color: white;
}

@media screen and (min-width: 768px) {

    .title-container {
        margin: 1rem auto!important;
    }

    .card {
        /* padding: 3rem; */
    }

    .card * {
        margin: 1rem;
    }
}